.section-6 {
    width: 100%;
    height: auto;
    background: #0D0402;

    .contanier {
        padding: 50px 100px;
        width: 100%;
        height: 100%;
        background-image: url("/images/Pattern.svg");
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .con-1 {
            display: flex;
            flex-direction: column;
            gap: 30px;

           
            .icon-coffe {
                display: flex;
                align-items: center;
                gap: 10px;
                
                img {
                    position: relative;
                    margin-bottom: 20px;
                }

                p {
                    color: #FF4B32;
                    font-size: 24px;
                    font-weight: bold;
                    font-family: 'Josefin Sans', sans-serif;
                }

            }

            p {
                color: #FFFFFF;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
            }

            .telephone {
                display: flex;
                align-items: center;
                gap: 15px;
    
                a {
                    text-decoration: none;
                    font-size: 24px;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
    
                    &:hover {
                        color: rgb(53, 53, 146);
                    }
    
                }
    
            }

        }

        .section-6-text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 24px;
                color: white;
                font-family: 'Open Sans', sans-serif;

                &:hover {
                    color: rgb(91, 218, 235);
                }

            }

            p {
                color: #FFFFFF;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;   
            }

        }

        .follow-us {
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1 {
                font-size: 24px;
                color: white;
                font-family: 'Open Sans', sans-serif;

                &:hover {
                    color: rgb(91, 218, 235);
                }

            }

            .Ellips-icon {
                display: flex;
                gap: 20px;
                align-items: center;
    
                .icons {
                    width: 50px;
                    height: 50px;
                    opacity: 0.4;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    position: relative;
    
                    img {
                        position: absolute;
                        top: 50%;
                        left:  50%;
                        transform: translate(-50%,-50%);
                    }
    
                }
    
            }

        }

    }

}

@media (max-width: 600px) {
    .section-6 {

        .contanier {
            padding: 10px;
            flex-direction: column;
            gap: 50px;

            .con-1 {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            .section-6-text {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            .follow-us {
                flex-direction: column;
                align-items: center;
            }

        }

    }
}