* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background-image: url("/images/Hero area image.svg");
  background-position: center;
  background-size: cover;
  padding: 50px 100px;
}

.section-1 header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 header .icon-coffe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.section-1 header .icon-coffe img {
  position: relative;
  margin-bottom: 20px;
}

.section-1 header .icon-coffe p {
  color: #FF4B32;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.section-1 header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.section-1 header .header-text a {
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.section-1 header .header-text a:hover {
  color: #FF4B32;
}

.section-1 header .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.section-1 header .header-icons .header-ellips {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  position: relative;
}

.section-1 header .header-icons .header-ellips img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1 h1 {
  font-size: 60px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 100px;
}

.section-1 p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
  margin-top: 30px;
}

.section-1 button {
  width: 150px;
  height: 60px;
  background: #FF4B32;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
}

.section-1 button a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 600px) {
  .section-1 {
    padding: 20px;
    height: auto;
  }
  .section-1 .icon-coffe p {
    display: none;
  }
  .section-1 .header-text a {
    display: none;
  }
  .section-1 h1 {
    font-size: 50px;
    text-align: center;
    margin: 50px;
  }
  .section-1 p {
    text-align: center;
    font-size: 25px;
    margin: 0;
  }
  .section-1 button {
    text-align: center;
    position: relative;
    left: 30%;
  }
}

.section-2 {
  width: 100%;
  height: auto;
  padding: 50px 100px;
}

.section-2 .section-2-text-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .section-2-text-icon h1 {
  font-size: 43px;
  font-family: 'Josefin Sans', sans-serif;
}

.section-2 .section-2-text-icon .right-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.section-2 .section-2-text-icon .right-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-2 .section-2-text-icon .right-left .left {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #FF4B32;
  border-radius: 50%;
  background: #FF4B32;
}

.section-2 .section-2-text-icon .right-left .right {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #FF4B32;
  border-radius: 50%;
  background: #FF4B32;
}

.section-2 .section-2-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-2 .section-2-flexbox .coffe-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.section-2 .section-2-flexbox .coffe-box h2 {
  font-size: 32px;
  font-family: 'Josefin Sans', sans-serif;
}

.section-2 .section-2-flexbox .coffe-box .num-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.section-2 .section-2-flexbox .coffe-box .num-btn p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.section-2 .section-2-flexbox .coffe-box .num-btn button {
  width: 165px;
  height: 55px;
  background: #FF4B32;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

.section-2 .section-2-flexbox .coffe-box .num-btn button:hover {
  background-color: white;
  border: 1px solid #FF4B32;
  color: #FF4B32;
}

@media (max-width: 600px) {
  .section-2 {
    padding: 20px;
  }
  .section-2 .section-2-text-icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .section-2 h1 {
    font-size: 45px;
    text-align: center;
  }
  .section-2 p {
    text-align: center;
  }
  .section-2 .section-2-flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
/*# sourceMappingURL=style.css.map */